/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

/* body setup */
body {
    background-color: lightgray;
}

/* header setup */
header {
    background-color: rgb(255, 255, 255);
}

/* main setup */
.container {
    width: 70%;
    background-color: rgb(255, 255, 255);
    margin: 5% auto;
}

/* button setup */
.input {
    border-radius: 10px;
    padding: 1%;
    display: inline-block;
    margin: 1% 0 1% 0;
    border: solid 1px lightgray;
}

.add-task {
    margin-left: 5%;
    background-color: rgb(20, 175, 245);
}

/* list setup */
li {
    list-style: none;
    margin-bottom: 2%;
}

h3 {
    margin: 5% 0 2% 0;
}

h3::before {
    content: "\2BC6";
    font-size: 15px;
    padding-right: 1%;
}

/* before task */
.done::before {
    content: "\2713";
    font-size: 10px;
    padding: 1px;
    margin-right: 2%;
    color: rgb(44, 198, 71);
    border: solid rgb(44, 198, 71) 1px;
    border-radius: 50%;
    display: inline-block;
}

.undone::before {
    content: "\2717";
    font-size: 10px;
    padding: 1px;
    margin-right: 2%;
    color: rgb(255, 0, 0);
    border: solid rgb(255, 0, 0) 1px;
    border-radius: 50%;
    display: inline-block;
}

/* after task */
.editorial::after {
    content: "Editorial";
    color: rgb(255, 255, 255);
    background-color: rgb(20, 175, 245);
    font-size: 10px;
    padding: 1%;
    margin-left: 2%;
    border-radius: 10px;
    display: inline-block;
}

.goals::after {
    content: "Q1 Goals";
    color: rgb(255, 255, 255);
    background-color: rgb(171, 93, 239);
    font-size: 10px;
    padding: 1%;
    margin-left: 2%;
    border-radius: 10px;
    display: inline-block;
}

.recruiting::after {
    content: "Recruiting";
    color: rgb(255, 255, 255);
    background-color: rgb(44, 198, 171);
    font-size: 10px;
    padding: 1%;
    margin-left: 2%;
    border-radius: 10px;
    display: inline-block;
}

.mobile::after {
    content: "Mobile";
    color: rgb(255, 255, 255);
    background-color: rgb(255, 155, 0);
    font-size: 10px;
    padding: 1%;
    margin-left: 2%;
    border-radius: 10px;
    display: inline-block;
}

.website::after {
    content: "Website";
    color: rgb(255, 255, 255);
    background-color: rgb(236, 74, 157);
    font-size: 10px;
    padding: 1%;
    margin-left: 2%;
    border-radius: 10px;
    display: inline-block;
}

.sales::after {
    content: "Sales";
    color: rgb(255, 255, 255);
    background-color: rgb(163, 209, 22);
    font-size: 10px;
    padding: 1%;
    margin-left: 2%;
    border-radius: 10px;
    display: inline-block;
}

/* misc */
hr {
    margin: 1% 0 1% 0;
    color: lightgray;
}

.task-list {
    margin-left: 5%;
}